{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>
    {% if form.instance.pk %}
      Update team
    {% else %}
      Add team
    {% endif %}
  </h1>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex gap-2 mt-3">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'monitor:team-list' %}" class="btn btn-secondary">
        &larr; Back to list
      </a>
    </div>
  </form>
{% endblock %}